:root {
  /* colors */
  --clr-nutmeg: hsl(14, 45%, 36%);
  --clr-dkRasp: hsl(332, 51%, 32%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-roseWhite: hsl(330, 100%, 98%);
  --clr-eggshell: hsl(30, 54%, 90%);
  --clr-ltGray: hsl(30, 18%, 87%);
  --clr-wengeBrown: hsl(30, 10%, 34%);
  --clr-dkCharcoal: hsl(24, 5%, 18%);

  /* font weights */
  --weight-light: 400;
  --weight-med: 600;
  --weight-bold: 700;

  /* font families */
  --font-youngSerif: "Young Serif", sans-serif; /* major headings*/
  --font-outfit: "Outfit", sans-serif; /* paragraph text*/

  /* screen width defaults*/
  --width-desktop: 1440px;
  --width-mobile: 375px;
}

/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

/* general stylings */
body {
  font-size: 16px;
  background-color: var(--clr-eggshell);
  font-family: var(--font-outfit);
  color: var(--clr-wengeBrown);
  font-weight: var(--weight-light);
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 205vh;
}

h1, h2{
    font-family: var(--font-youngSerif);
}

h1 {
    color: var(--clr-dkCharcoal);
    font-weight: var(--weight-light);
    font-size: 2.5rem;

}

h2 {
    color: var(--clr-nutmeg);
    font-weight: var(--weight-light);
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

h3 {
    color: var(--clr-dkRasp);
    margin-bottom: .5rem;
}

img {
    width: 100%;
    border-radius: 1rem;
}

section {
    margin: 1.5rem 0rem;
}

section:last-of-type{
    margin-bottom: 0;
}

hr {
    background-color: var(--clr-ltGray);
    height: 1px;
    border: none;
}

li {
    margin-left: 1rem;
    padding-left: 1rem;
    line-height: 2;
}

table {
    width: 100%;
    margin-top: 1rem;;
}

td {
    border-bottom: 1px solid var(--clr-ltGray);
    padding: .5rem;
}

tr:last-of-type td{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* id stylings */
#container {
    background: var(--clr-white);
    max-width: var(--width-desktop);
    min-width: var(--width-mobile);
    width: 736px;
    padding: 2.5rem;
    margin: 5rem;
    border-radius: 1rem;
    transition: ease all .5s;
}

/* class stylings */
.description {
    margin-top: .5rem;
}

.preparationTime{
    background-color: var(--clr-roseWhite);
    border-radius: 1rem;
    padding: 2rem;
}

.preparationTime li::marker{
    color: var(--clr-dkRasp);
    font-size: .75rem;
}

.ingredients li::marker, .instructions li::marker {
    color: var(--clr-nutmeg);
}

.ingredients li::marker {
    font-size: .75rem;
}

.instructions li {
    line-height: 1.5;
    font-weight: var(--weight-light);
    padding-bottom: .5rem;
}

.instructions li::marker {
    font-weight: var(--weight-bold);
}

.table-first-col {
    text-align: left;
    padding-left: 1rem;
    width: 50%;
}

.table-amount {
    color: var(--clr-nutmeg);
    font-weight: var(--weight-med);
}

/* pre-included attribution css moved from index <style> */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


/* Media Query Styling*/

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        line-height: 1;
    }
    #container {
        max-width: var(--width-mobile);
    }
}